:root {

    --background-color: hsl(257, 40%, 49%);
    --text-links: hsl(300, 69%, 71%);
    --text-text: hsl(0, 0%, 100%);
    --font-size-titulo: 2rem;
    --font-size-text: 0.9rem;
    --font-heading: "Poppins", sans-serif;




}